<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Personal information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>

    </ion-tab-button>



    <ion-tab-button tab="soft">
      <ion-icon name="code-slash-outline"></ion-icon>
      <ion-label>Soft Skills</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="project">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>