<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title> Menu </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="content">
      <ion-list>
        <ion-menu-toggle>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/dashboard']" shape="round">
              Personal information
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="call-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/contact']" shape="round">
              Contact
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="code-slash-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/soft']" shape="round">
              Software Skills
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="construct-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/tech']" shape="round">
              Technical Skills
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="code-slash-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/project']" shape="round">
              Personal Projects
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="people-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/gproject']" shape="round">
              Group Projects
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-button expand="block" fill="clear" [routerLink]="['/tabs/eca']" shape="round">
              Extra Curriculum Activiteis
            </ion-button>
          </ion-item>
          <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
          <br>
          <ion-button ion-button menuClose expand="block">Close Menu</ion-button>
        </ion-menu-toggle>
        <br>
        <br>
        <div class="footer">
          © 2020 Emil Brummer
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>

</ion-app>