<ion-header>
  <ion-toolbar>
    <ion-title>Contact information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>

    <h3>Emil Brummer
    </h3>
    <h3>Döbelninkatu 3A 1
      00260 Helsinki
    </h3>
    <h3>+358451389515
    </h3>



  </ion-text>

  <img src="../../../assets/img/face.jpg" class="face" />

</ion-content>