<ion-header>
  <ion-toolbar>
    <ion-title>Personal Projects</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-text>
      <h2>Diary/Notepad app with image gallery (Ionic 5 and angular)</h2>

      <p><a href='https://github.com/Emil98FI/DiaryApp-Mobile'>https://github.com/Emil98FI/DiaryApp-Mobile</a></p>


    </ion-text>
  </ion-item>

  <ion-item lines="full">
    <ion-text>
      <h2>RestApi (Node, Express, ejs, MongoDB)
      </h2>

      <p><a href='https://github.com/Emil98FI/RestApi'>https://github.com/Emil98FI/RestApi</a></p>


    </ion-text>




    <ion-content>