<!--Emil Brummer-->
<ion-header>
  <ion-toolbar>
    <ion-title>Software Skills</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-text>
      <h2>Soft skills</h2>
      <h3>Mobile app development and frontend development
      </h3>

      <h5>UX and UI design principles

        Basic skills with Ionic 5 and angular- Tabs, Buttons, Text, Label, Date &Time, Modal, Option buttons, Slider,
        local storage, firebase.

        <br>

        Little knowledge of native app development with Kotlin and Android Studio.

        Javascript and ajax
      </h5>

    </ion-text>
  </ion-item>

  <ion-item lines="full">
    <ion-text>

      <h3>Backend development
      </h3>

      <h5>Node, Express, ejs, MongoDB


      </h5>

      <h5> Creating a RestApi and hosting a database
      </h5>

    </ion-text>
  </ion-item>

  <ion-item lines="full">
    <ion-text>

      <h3>Basic programming knowledge

      </h3>

      <h5>Languages: PHP, Java, Javascript, Html, Css


      </h5>

    </ion-text>
  </ion-item>










</ion-content>